@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Clash';
  src: url("../public/clash-display/ClashDisplayExtralight.otf") format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Clash';
  src: url('../public/clash-display/ClashDisplayLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Clash';
  src: url('../public/clash-display/ClashDisplayRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Clash';
  src: url("../public/clash-display/ClashDisplayMedium.otf") format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Clash';
  src: url('../public/clash-display/ClashDisplaySemibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Clash';
  src: url("../public/clash-display/ClashDisplayBold.otf") format('opentype');
  font-weight: 700;
  font-style: normal;
}

@layer utilities {
  .title-class {
    @apply text-lg font-medium text-customOrange;
  }

  .heading-class {
    @apply text-5xl font-bold;
  }

  .subheading-class {
    @apply text-lg font-semibold;
  }

  .subheading2-class {
    @apply text-custom font-semibold;
  }

  .text-class {
    @apply text-lg font-medium text-gray-500;
  }

  .faqtext-class {
    @apply text-lg font-medium;
  }

  .faqtitle-class {
    @apply text-2xl font-semibold;
  }

  .footerhead-class{
    @apply text-3xl font-medium
  }

  .footerbase-class{
    @apply text-base font-medium
  }

  .footerhover-class{
    @apply mb-4 duration-300 hover:text-customOrange cursor-pointer
  }
}

